<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Caliburn.Micro" version="3.0.0" targetFramework="net451" />
  <package id="Caliburn.Micro.Core" version="3.0.0" targetFramework="net451" />
  <package id="MahApps.Metro" version="1.2.4.0" targetFramework="net451" />
  <package id="MahApps.Metro.Resources" version="0.5.0.0" targetFramework="net451" />
</packages>